<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />
  <link rel="stylesheet" href="/styles/vote.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Josefin+Sans|Montserrat&display=swap" rel="stylesheet">
</head>

<body>

  <% include partials/_navbar %>

  <div class="vote-container">
    <div id="div-ask"><%= question %></div>
    <form id="voting" action="/result" method="POST">
      <div class="drag-container">
        <div class="to-col">
          <div class="drop-text">DROP VOTES</div>
          <div id="drop-votes" class="box-container">
        </div>
        </div>
        <span class="submit-vote-btn">
          <input type="hidden" name="test-hidden" id="test-hidden" value="test-data">
          <input id="vote-submit" type="submit" value="submit" />
      </span>
    </form>
      <div class="to-col">
      <div class="drag-text">DRAG CHOICES</div>
      <div id="drag-choices" class="box-container">
      <% for (let i = 0; i < choices.length; i++) { %>
      <div id="box-<%= i %>" itemid=" choice-<%= i %>" class="box-item" name="votes" value="vote">
        <%= choices[i] %>
      </div>
      <% } %>
    </div>
  </div>
</div>


  <div class="url-link">
    <div id="grab-url"><%= voteURL %></div>
    <input type="text" value="localhost:8080/vote/<%= voteURL %>" id="copy-url">
    <button id="copy-btn" onclick="copy()">copy URL</button>
    <script>
      const copy = () => {
        let copyText = document.getElementById("copy-url");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
      };
    </script>

    <script>
      var input = document.getElementById("drop-here");
      input.addEventListener('drop', function (event) {
        event.preventDefault();
        var textData = event.dataTransfer.getData('text'); // get the dragged value
        var oldval = event.target.value; // get the old value in the input
        var newval = oldval + textData; // add it with the value which is dragged upon
        event.target.value = newval; // change the value with the new value
      });
      document.querySelector('[draggable="true"]').addEventListener('dragstart', function (e) {
        e.dataTransfer.setData('text', e.target.innerHTML);
      });</script>
  </div>


  </div>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/scripts/vote-helpers.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->


</body>

</html>
